$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;


$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


//// Caching test
//
//// Background Colors (opposites)
//$color__background-body: #000; // Black
//$color__background-screen: #0e0e0e; // Dark gray
//$color__background-hr: #333; // Darker gray
//$color__background-button: #191919; // Very dark gray
//$color__background-pre: #111; // Almost black
//$color__background-ins: #0006ff; // Bright blue (opposite of yellow)
//
//// Text Colors (opposites)
//$color__text-screen: #de8a64; // Soft orange (opposite of blue)
//$color__text-input: #999; // Light gray
//$color__text-input-focus: #eee; // Very light gray
//$color__link: #be9600; // Golden yellow (opposite of royal blue)
//$color__link-visited: #7fff7f; // Bright green (opposite of purple)
//$color__link-hover: #e6e6ff; // Light lavender (opposite of midnight blue)
//$color__text-main: #bfbfbf; // Light gray
//
//// Border Colors (opposites)
//$color__border-button: #333 #333 #444; // Darker tones
//$color__border-button-hover: #333 #444 #555; // Slightly lighter hover effect
//$color__border-button-focus: #555 #444 #444; // Softer focus tones
//$color__border-input: #333; // Dark gray
//$color__border-abbr: #999; // Light gray