.site-header {
  background-color: $color__background-body;
  a {
    color: $color__text-main;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.site-nav {
  margin: 0 50px;
  display: flex;
  background-color: $color__background-screen;
  align-items: center;
  height: 80px;
}